@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: Harmond;
  src: url(./assets/fonts/Harmond-SemiBoldCondensed.woff);
}
@font-face {
  font-family: TheNightWatch;
  src: url(./assets/fonts/TheNightWatch.woff);
}
@font-face {
  font-family: Bizantheum;
  src: url(./assets/fonts/Bizantheum.woff);
}
@font-face {
  font-family: Untitled;
  src: url(./assets/fonts/test-untitled-sans-regular.woff2);
}

#root {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Bizantheum;
}

p, a, li, ul {
  font-family: Untitled;
  line-height: 1.4em;
  font-size: smaller;
  text-decoration: none;
}

a:hover {
  color: #f7f7f796;
}

body, #root {
  background-color: #12120F;
  width: 100vw;
  color: #f7f7f7;
}

.artist-info {
  padding: 2em;
}


// ArtistPage Styles
.artist-container {
  position: relative;
  height: 100vh;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.text-display {
  position: absolute;
  bottom: 0;
  background: #f7f7f7; /* Black see-through */
  color: #0f0f0f;
  width: 100%;
  height: 60vh;
  font-size: 20px;
  padding: 20px;
  border-radius: 90% 90% 0px 0px;
  text-align: left;
}



// Cursor Styles
html {
  cursor: none;
}

.dot-cursor, .circle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  color: white;
  mix-blend-mode: exclusion;
}
