@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: Harmond;
  src: url(./Harmond-SemiBoldCondensed.woff);
}
@font-face {
  font-family: TheNightWatch;
  src: url(./TheNightWatch.woff);
}


#root {
  height: 100vh;
}

.container {
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Harmond;
}

p, a, li, ul {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: #F2E9D2;
}

body, #root {
    background-color: #12120F;
    color: #fffdeb;
}

.headline {
    font-size: 20vw;
    text-transform: uppercase;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
}


// Cursor Styles
html {
  cursor: none;
}

.dot-cursor, .circle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  color: white;
  mix-blend-mode: exclusion;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: .5em;
    padding: 0;
  }

  p {
    font-size: .6em;
  }
  
  .dot-cursor, .circle {
    display: none;
  }
}